<hr class="w-full h-1 bg-gray-500" />
<div class="bg-gray-800 text-white flex flex-col justify-center items-center">
  <div
    class="max-w-4xl mt-20 mb-20 w-full flex flex-col md:flex-row justify-between items-start"
  >
    <!-- Left Section -->
    <div class="md:w-1/2 space-y-6">
      <h2
        class="text-2xl w-2/3 font-bold bg-gradient-to-r from-sky-300 to-pink-800 bg-clip-text text-transparent"
      >
        DO YOU HAVE A PROJECT TO DISCUSS?
      </h2>
      <p class="text-xl font-semibold">GET IN TOUCH 💬</p>

      <div>
        <h3 class="text-gray-300 uppercase">Contact</h3>
        <p class="text-blue-400">web.smm.ztygmail.com</p>
      </div>

      <div>
        <h3 class="text-gray-300 uppercase">Social Media</h3>
        <div class="flex mt-3 space-x-4 text-lg">
          <span class="hover:text-gray-400"
            ><i class="fa-brands fa-linkedin cursor-pointer text-blue-600"></i>
            Linkedin</span
          ><span class="hover:text-gray-400"
            ><i class="fa-brands fa-instagram cursor-pointer text-pink-600"></i>
            Instagram</span
          ><span class="hover:text-gray-400"
            ><i class="fa-brands fa-whatsapp cursor-pointer text-green-600"></i>
            Whatsapp</span
          >
        </div>
      </div>
    </div>

    <!-- Right Section - Contact Form -->
    <div class="md:w-1/2 bg-gray-800 p-6 rounded-lg shadow-2xl w-full">
      <h3 class="text-xl mb-4">CONTACT FORM</h3>
      <form (submit)="onSubmit()" #contactForm="ngForm">
        <div class="mb-4">
          <label class="block text-sm text-gray-300">Name</label>
          <input
            type="text"
            [(ngModel)]="formData.name"
            name="name"
            required
            class="w-full p-2 bg-gray-700 border border-gray-600 rounded-lg text-white focus:outline-none focus:border-pink-500"
          />
        </div>

        <div class="mb-4">
          <label class="block text-sm text-gray-300">Email</label>
          <input
            type="email"
            [(ngModel)]="formData.email"
            name="email"
            required
            class="w-full p-2 bg-gray-700 border border-gray-600 rounded-lg text-white focus:outline-none focus:border-blue-500"
          />
        </div>

        <div class="mb-4">
          <label class="block text-sm text-gray-300">Message</label>
          <textarea
            [(ngModel)]="formData.message"
            name="message"
            rows="4"
            required
            class="w-full p-2 bg-gray-700 border border-gray-600 rounded-lg text-white focus:outline-none focus:border-green-500"
          ></textarea>
        </div>

        <button
          type="submit"
          class="w-full bg-pink-500 hover:bg-pink-600 text-white py-2 rounded-lg font-semibold"
        >
          Send Message
        </button>
      </form>
    </div>
  </div>
</div>
