<div class="bg-gray-800 font-sans min-h-screen">
  <div
    class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-10 flex flex-col md:flex-row items-center justify-center min-h-screen"
  >
    <!-- Left Section -->
    <div
      class="w-full md:w-1/2 flex flex-col justify-center items-center md:items-start text-center md:text-left"
    >
      <div class="text-white text-2xl sm:text-3xl lg:text-5xl font-semibold">
        {{ "about.wel.to.my" | translate }}
      </div>
      <div
        class="bg-pink-600 h-0 sm:h-2 lg:h-2 lg:h-2 w-20 sm:w-32 lg:w-40 mt-2 animate-bounce"
      ></div>
      <div
        class="text-3xl sm:text-4xl font-bold bg-gradient-to-r from-sky-400 to-pink-800 bg-clip-text text-transparent mt-2"
      >
        {{ "about.portfolio" | translate }}
      </div>
      <div class="mt-4 text-lg sm:text-2xl text-gray-300">
        {{ "about.experiece" | translate }}
      </div>
      <div class="mt-4 text-gray-300 text-base sm:text-lg">
        {{ "about.experiece.desc" | translate }}
      </div>
      <div class="mt-5">
        <button
          class="rounded-full text-white font-semibold px-6 py-3 bg-gradient-to-r from-sky-800 to-pink-800 hover:text-gray-300 flex items-center"
        >
          <a href="assets/file/Atuls_Resume.pdf" download="Atuls_Resume.pdf"
            >{{ "about.my.resume" | translate }}
            <i class="fa-solid fa-arrow-down ml-3 animate-bounce"></i
          ></a>
        </button>
      </div>
    </div>

    <!-- Right Section -->
    <div
      class="w-full md:w-1/2 flex flex-col justify-center items-center mt-10 md:mt-0"
    >
      <div class="relative flex justify-center items-center">
        <img
          [src]="imageCoverPath"
          class="rounded-full shadow-lg animate-pulse w-60 sm:w-70 md:w-70"
        />
        <img
          [src]="imageProfilePath"
          class="rounded-full w-50 sm:w-70 md:w-70 -mt-10 -ml-18 absolute transform translate-x-6 translate-y-6"
        />
      </div>
      <div
        class="mt-6 text-2xl sm:text-3xl font-bold bg-gradient-to-r from-sky-400 to-pink-800 bg-clip-text text-transparent animate-pulse"
      >
        ATUL BAPURAO PATIL
      </div>
      <div class="flex justify-center space-x-6 mt-6 text-white text-2xl">
        <i class="fa-brands fa-linkedin cursor-pointer hover:text-gray-400"></i>
        <i class="fa-brands fa-github cursor-pointer hover:text-gray-400"></i>
        <i
          class="fa-brands fa-instagram cursor-pointer hover:text-gray-400"
        ></i>
        <i class="fa-brands fa-twitter cursor-pointer hover:text-gray-400"></i>
        <i
          class="fa-brands fa-x-twitter cursor-pointer hover:text-gray-400"
        ></i>
      </div>
    </div>
  </div>
</div>
