<nav class="bg-gray-800 p-5">
  <div
    class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 outline outline-1 outline-white rounded-md"
  >
    <div class="relative flex h-16 items-center justify-between">
      <!-- Mobile Menu Button -->
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button
          type="button"
          class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:ring-2 focus:ring-white focus:outline-none"
          (click)="toggleMobileMenu()"
        >
          <svg
            class="size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
        </button>
      </div>

      <!-- Logo -->
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex items-center font-semibold cursor-pointer">
          <span class="text-white text-xl sm:text-2xl bg-pink-600 px-2 rounded"
            >Atul</span
          >
          <span class="text-white text-xl sm:text-2xl ml-1">Patil</span>
        </div>
      </div>

      <!-- Desktop Menu -->
      <div class="hidden sm:block">
        <div class="flex mr-60">
          <span *ngFor="let tab of tabs" class="px-2 py-2 cursor-pointer">
            <a
              href="#"
              (click)="scrollToSection(tab.id)"
              class="py-2 px-4 rounded-md text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white focus:ring-1"
              >{{ tab.label | translate }}</a
            >
          </span>
        </div>
      </div>

      <!-- Language & Profile Dropdowns -->
      <div class="flex space-x-4">
        <!-- Language Dropdown -->
        <div class="relative">
          <button
            class="flex items-center rounded-full px-3 py-1 font-semibold bg-green-400 cursor-pointer hover:text-white focus:ring-2 focus:ring-white"
            (click)="toggleDropdown()"
            id="user-menu-button"
          >
            <span class="material-symbols-outlined">language</span>
            <span>{{ selectedLanguage | uppercase | slice : 0 : 3 }}</span>
          </button>
          <div
            *ngIf="isDropdownOpen"
            id="language-menu"
            class="absolute right-0 mt-2 w-40 font-bold bg-green-400 shadow-lg rounded-md"
          >
            <a
              href="#"
              class="block px-4 py-2 text-white hover:bg-white hover:text-gray-800"
              (click)="selectLanguage('English')"
              >English</a
            >
            <a
              href="#"
              class="block px-4 py-2 text-white hover:bg-white hover:text-gray-800"
              (click)="selectLanguage('Spanish')"
              >Spanish</a
            >
            <a
              href="#"
              class="block px-4 py-2 text-white hover:bg-white hover:text-gray-800"
              (click)="selectLanguage('French')"
              >French</a
            >
          </div>
        </div>

        <!-- Profile Dropdown -->
        <div class="relative">
          <button
            class="relative flex items-center rounded-full font-bold text-green-400 cursor-pointer hover:text-white focus:ring-2"
            (click)="toggleUserMenu()"
            id="profile-button-menu"
          >
            <span class="w-10 h-10"
              ><img src="/assets/images/man.png" alt="profile"
            /></span>
            <span class="relative -ml-3 -mb-3 size-3">
              <span
                class="absolute inline-flex h-full w-full animate-ping rounded-full bg-sky-400 opacity-75"
              ></span>
              <span
                class="relative inline-flex size-3 rounded-full bg-green-500"
              ></span>
            </span>
          </button>
          <div
            *ngIf="isProfileOpen"
            id="profile-menu"
            class="absolute right-0 mt-5 w-60 bg-white rounded-md shadow-lg flex flex-col items-center p-5"
          >
            <img
              src="/assets/images/pro.jpg"
              alt="profile"
              class="w-20 h-20 rounded-full"
            />
            <div class="text-xl font-semibold text-gray-800 mt-2">
              Atul Patil
            </div>
            <div
              class="mt-2 bg-green-200 px-2 py-1 text-gray-600 font-semibold"
            >
              {{ "nav.active.freelancer" | translate }}
            </div>
            <div class="mt-2 font-semibold text-gray-800">
              {{ "nav.full.stack.developer" | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div
    id="mobile-menu"
    class="sm:hidden px-2 pt-2 pb-3 flex flex-col outline-1 outline-gray-500 mt-2"
    *ngIf="isMobileViewOpen"
  >
    <span
      *ngFor="let tab of tabs"
      (click)="scrollToSection(tab.id)"
      class="px-4 py-2 cursor-pointer hover:bg-gray-700 hover:text-white focus:ring-1"
    >
      <a
        href="#"
        class="px-4 py-2 rounded-md text-sm font-medium text-gray-300 focus:ring-1"
        >{{ tab.label }}</a
      >
    </span>
  </div>
</nav>
