<hr class="w-full h-1 bg-gray-500" />
<div class="flex flex-col items-center pt-20 bg-gray-800 text-white">
  <h2 class="text-2xl font-bold mb-20 text-pink-400">MY SERVICES</h2>

  <div class="relative flex flex-col items-center mb-20">
    <div
      class="absolute top-8 left-1/2 w-1 bg-gray-200 h-100 hidden sm:block"
    ></div>

    <div
      *ngFor="let service of services; let last = last"
      class="relative flex flex-col items-center bg-gray-800 p-6 w-100 sm:w-150 rounded-lg shadow-lg mb-8 outline-1"
    >
      <div class="flex items-center gap-2 text-xl font-semibold">
        <span class="material-symbols-outlined text-pink-400">
          {{ service.icon }}
        </span>
        <span class="text-white"> {{ service.title }}</span>
      </div>
      <p class="text-gray-300 mt-2 text-center text-blue-400">
        {{ service.description }}
      </p>

      <div
        *ngIf="!last"
        class="absolute left-1/2 w-1 bg-gray-500 h-8 top-full"
      ></div>
    </div>
  </div>
</div>
